@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffe4a9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.myButton {
  @apply px-4 py-2 transition-colors inline-flex gap-2 items-center font-bold bg-yellow-400 hover:bg-yellow-500 text-white self-end;
}

.beyazKutu {
  @apply bg-orange-500 shadow-md w-full font-abc text-white;
}

h1 {
  font-family: "Alex Brush", cursive;
  @apply text-3xl text-white font-abc text-white;
}

nav {
  font-weight: 500;
  @apply text-2xl text-amber-600 font-abc;
}
